<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8"/>
    <title>레몬헬스케어 도서현황</title>
    <link rel="stylesheet" media="screen and (min-width:1024px)" href="../../css/style_pc.css">
    <link rel="stylesheet" media="screen and (min-width:768px) and (max-width:1023px)"
          href="../../css/style_tablet.css">
    <link rel="stylesheet" media="screen and (min-width:320px) and (max-width:767px)" href="../../css/style_mobile.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- config fragment 사용 -->
    <th:block th:replace="~{fragments/config :: configFragment}"></th:block>
</head>

<header>
    <th:block layout:fragment="header"></th:block>
</header>
<body>
    <th:block layout:fragment="content"></th:block>
</body>
<footer>
    <th:block layout:fragment="footer"></th:block>
</footer>