<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:v-on="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/default">
<div layout:fragment="content">
    <div id="app">
        <div class="titleBox">
            도서정보
        </div>
        <div class="formBox">
            <form v-on:submit.prevent="submitForm" method="post">
                <table class="formTable">
                    <tr>
                        <td class="tdTitle"><label for="deptName">신청 부서</label></td>
                        <td><input type="text" id="deptName" v-model="deptName" disabled></td>
                    </tr>
                    <tr>
                        <td class="tdTitle" nowrap><label for="registerNm">신청자 이름</label></td>
                        <td><input type="text" id="registerNm" v-model="registerNm" disabled></td>
                    </tr>
                    <tr>
                        <td class="tdTitle"><label for="title"><span class="redText">*</span>도서 이름</label></td>
                        <td><input type="text" id="title" v-model="title" required></td>
                    </tr>
                    <tr>
                        <td class="tdTitle"><label for="publisher"><span class="redText">*</span>출판사</label></td>
                        <td><input type="text" id="publisher" :value="publisher" @input="bindKor"
                                   required pattern="^[ㄱ-ㅎ|ㅏ-ㅣ|가-힣|a-z]+$" title="한글만 입력 가능합니다."></td>
                    </tr>
                    <tr>
                        <td class="tdTitle"><label for="bookPrice"><span class="redText">*</span>도서 금액</label></td>
                        <td><input type="text" id="bookPrice" :value="bookPrice" @input="bindNum"
                                   required pattern="^[0-9]+$" title="숫자만 입력 가능합니다."></td>
                    </tr>
                    <tr>
                        <td class="tdTitle"><label for="count"><span class="redText">*</span>신청 권수</label></td>
                        <td><input type="texta" id="count" v-model="count"
                                   required pattern="^[0-9]+$" title="숫자만 입력 가능합니다." disabled></td>
                    </tr>
                    <tr>
                        <td class="tdTitle"><label for="regRsn">신청 사유</label></td>
                        <td><textarea id="regRsn" v-model="regRsn" cols="" rows="6" disabled></textarea></td>
                    </tr>
                </table>
                <div v-if="role === 'admin'" class="btnBox">
                    <input class="formBtn" type="button" value="뒤로가기" v-on:click="back"/>
                    <input class="formBtn" type="button" value="삭제하기" v-on:click="deleteBook"/>
                    <input class="formBtn" type="submit" value="도서수정">
                </div>
                <div v-else>
                    <input class="formBtn" type="button" value="뒤로가기" v-on:click="back"/>
                </div>
                <input id="hiddenRole" type="hidden" th:value="${role}">
            </form>
        </div>
    </div>


    <script>

        let app = new Vue({
            el: '#app',
            data: function () {
                return {
                    id: '',
                    book: '',
                    bookNo: '',
                    deptName: '',
                    registerNm: '',
                    title: '',
                    publisher: '',
                    bookPrice: '',
                    count: '1',
                    regRsn: '',
                    isBook: '',
                    role: 'user'
                }
            },
            methods: {
                autoAdd: function () {
                    const hRole = document.getElementById("hiddenRole").value;
                    this.role = hRole;
                },
                getBookListByAsyncAwait: async function () {
                    let detailNum = document.location.href;
                    detailNum = detailNum.substring(detailNum.lastIndexOf("detail/")+7);
                    this.id = detailNum;
                    const response = await axios.get('http://localhost:8080/rest/book/detail?id=' + this.id);
                    this.book = response.data.bookEntity;
                    this.bookNo = this.book.bookNo;
                    this.bookPrice = this.book.bookPrice;
                    this.count = this.book.count;
                    this.deptName = this.book.deptName;
                    this.publisher = this.book.publisher;
                    this.registerNm = this.book.registerNm;
                    this.title = this.book.title;
                    this.regRsn = this.book.regRsn;
                    this.isBook = this.book.isBook;
                },
                submitForm: function () {
                    const url = "http://localhost:8080/rest/book/save";
                    const data = {
                        id: this.id,
                        bookNo: this.bookNo,
                        bookPrice: this.bookPrice,
                        count: this.count,
                        deptName: this.deptName,
                        publisher: this.publisher,
                        regRsn: this.regRsn,
                        registerNm: this.registerNm,
                        title: this.title,
                        regRsn: this.book.regRsn,
                        isBook: this.isBook
                    }
                    axios.post(url, data)
                        .then(function (response) {
                            console.log(response);
                            alert('도서 수정이 완료되었습니다.');
                            location.href = "/";
                        })
                        .catch(function (error) {
                            console.log(error);
                        })
                },
                back: function () {
                    location.href = "/";
                },
                deleteBook: function () {
                    const url = "http://localhost:8080/rest/book/delete?id=" + this.id;
                    console.log(url)
                    axios.get(url)
                        .then(function (response) {
                            console.log(response);
                            alert('도서 삭제가 완료되었습니다.');
                            location.href = "/";
                        })
                        .catch(function (error) {
                            console.log(error);
                        })
                },
                bindNum(e) {
                    this.bookPrice = e.target.value;
                },
                bindKor(e) {
                    this.publisher = e.target.value;
                }
            },
            computed: {},
            watch: {},
            created: function () {
                /*this.view = "tableBoard";*/
                // DOM이 마운팅 되기 전이기 때문에 $el은 사용할 수 없습니다.
            },
            mounted: function () {
                // $el 을 사용할 수 있습니다.
                // 모든 화면이 렌더링된 후 호출됩니다.
                this.getBookListByAsyncAwait();
                this.autoAdd();
            }
        })
    </script>
</div>
</html>
<style>
    body {
        width: 100%;
        height: 100%;
        background-color: #f5f1e5;
    }
</style>