<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<div layout:fragment="content">
    <div id="app">
        <div id="topBox">
            <div id="leftImage">
                <a href="http://localhost:8080">
                    <img th:src="@{/images/lemonLogo.png}" title="레몬헬스케어 로고 그림"
                         alt="레몬헬스케어 로고 그림" th:width="100px" id="lemonLogo"></a>&nbsp;&nbsp;&nbsp;
            </div>
            <div id="rightInput">
                <input id="searchBookInput" type="text" v-model.trim="search"
                       :keydown.enter="searchBook" placeholder="검색어를 입력해주세요."/>
                <button id="searchButton" :click="searchBook">검색</button>
            </div>
        </div>
        <hr>
        <div id="middleBox">
            <div id="leftText"><span id="bookTotal">{{ total }}</span> 개</div>
            <img id="changeTableImage" :click="changeView" th:src="@{/images/boardTable.png}"
                 title="가로 세 줄이 있는 동그라미 아이콘"
                 alt="게시글 형식으로 보여주는 아이콘" th:width="32px">
            <div id="rightText">
                <select v-model="deptSelected" @change="changeDept($event)">
                    <option value="" selected>부서별 자료</option>
                    <option v-for="item in deptNameList" :key="item">{{ item }}</option>
                </select>
            </div>
        </div>

        <div class="clearBox"></div>

        <div v-if="viewList.length !== 0">
            <div v-if="view === 'tableBoard'">
                <table id="boardTable">
                    <tr id="tableTitle">
                        <th id="bookId" nowrap>구분</th>
                        <th id="bookNo" nowrap>도서번호</th>
                        <th nowrap>부서</th>
                        <th class="orderMenu" :click="sortTitle">
                            제목<img id="orderImage" th:src="@{/images/default_arrow.png}"
                                   title="위아래 빈 화살표 그림" alt="정렬이 안되어 있는 것을 알려주는 화살표 그림"></th>
                        <th id="bookCount" nowrap>권수</th>
                    </tr>
                    <tr v-for="item in viewList" :key="item.id">
                        <td id="bookIdData">{{item.id}}</td>
                        <td id="bookNoData">{{item.bookNo}}</td>
                        <td nowrap>{{item.deptName}}</td>
                        <td>{{item.title}}</td>
                        <td id="bookCountData">{{item.count}}</td>
                    </tr>
                </table>

            </div>
            <div v-else id="cBoard">
                <div id="checkerboard" v-for="(item, index) in viewList" :key="item.id">
                    <div id="innerCheckerboard">
                        <img class="bookImage" th:src="@{/images/book.png}" title="책그림"><br>
                        <p id="cBoardBookTitle">{{item.title}}</p>
                        <p id="cBoardDeptName">{{item.deptName}}</p>
                    </div>
                </div>
                <div class="clearBox"></div>
            </div>
        </div>

        <div v-else-if="viewList.length === 0">
            <p id="noSearch">검색결과가 없습니다.</p>
        </div>

        </br>
        <div v-if="total === limit">
            <table>
                <td id="noPageButton">{{ pageText }}</td>
            </table>
        </div>
        <div v-if="total !== limit">
            <table>
                <td id="pageButton" :click="addPage">{{ pageText }}</td>
            </table>
        </div>
    </div>


    <script>
        let app = new Vue({
            el: '#app',
            data: {
                search: '',
                bookList: [],
                searchList: [],
                viewList: [],
                deptNameList: [],
                bookTitle: 'default',
                deptSelected: '',
                pageText: '',
                limit: 10,
                total: 0,
                view: 'tableBoard'
            },
            methods: {
                getBookListByAsyncAwait: async function () {
                    /*const response = await axios.get('http://localhost:8080/rest/book/list');*/
                    const response = await axios.get('http://localhost:8080/rest/book/list');
                    console.log(response.data.bookList);
                    this.bookList = response.data.bookList;
                    this.searchList = response.data.bookList;
                    this.viewList = response.data.bookList;
                    this.total = this.bookList.length;
                    this.paging();
                    this.getDept();
                },
                searchBook: function () {
                    this.limit = 10;
                    let filteredList = this.bookList.filter(item =>
                        item.title.includes(this.search) || item.deptName.includes(this.search));
                    if (filteredList) {
                        this.searchList = filteredList;
                        this.viewList = filteredList;
                        this.total = this.searchList.length;
                    }
                    this.paging();
                },
                sortTitle: function () {
                    if (this.bookTitle === 'default' || this.bookTitle === 'd') {
                        this.viewList.sort(function (a, b) {
                            return a.title.localeCompare(b.title);
                        })
                        document.getElementById("orderImage").src = "/images/ascending_arrow.png";
                        document.getElementById("orderImage").title = "위쪽 화살표 그림";
                        document.getElementById("orderImage").alt = "오름차순 정렬 되어 있는 것을 알려주는 화살표 그림";
                        this.bookTitle = 'a';
                    } else if (this.bookTitle === 'a') {
                        this.viewList.sort(function (a, b) {
                            return b.title.localeCompare(a.title);
                        })
                        document.getElementById("orderImage").src = "/images/descending_arrow.png";
                        document.getElementById("orderImage").title = "아래쪽 화살표 그림";
                        document.getElementById("orderImage").alt = "내림차순 정렬 되어 있는 것을 알려주는 화살표 그림";
                        this.bookTitle = 'd';
                    }
                },
                getDept: function () {
                    for (let i in this.bookList) {
                        this.deptNameList.push(this.bookList[i].deptName);
                    }
                    const deduplication = new Set(this.deptNameList);
                    this.deptNameList = deduplication;
                },
                changeDept: function (event) {
                    this.limit = 10;
                    const selectedList = this.bookList.filter(item => item.deptName.includes(event.target.value));
                    this.searchList = selectedList;
                    this.viewList = selectedList;
                    this.total = this.searchList.length;
                    this.search = '';
                    this.paging();
                },
                addPage: function () {
                    this.limit += 10;
                    this.paging();
                },
                paging: function () {
                    if (this.limit > this.total) {
                        this.limit = this.total;
                    }
                    this.viewList = this.searchList.slice(0, this.limit);
                    this.pageText = '더보기(' + this.limit + '/' + this.total + ') +';
                },
                changeView: function () {
                    if (this.view == 'tableBoard') {
                        this.view = 'checkerboard';
                        document.getElementById("changeTableImage").src = "/images/checkerboard.png";
                        document.getElementById("changeTableImage").title = "네모 네 개가 있는 동그라미 아이콘";
                        document.getElementById("changeTableImage").alt = "바둑판 형식으로 보여주는 아이콘";
                        this.view = 'checkerboard';
                    } else if (this.view == 'checkerboard') {
                        this.view = 'tableBoard';
                        document.getElementById("changeTableImage").src = "/images/boardTable.png";
                        document.getElementById("changeTableImage").title = "가로 세 줄이 있는 동그라미 아이콘";
                        document.getElementById("changeTableImage").alt = "게시글 형식으로 보여주는 아이콘";
                        this.view = 'tableBoard';
                    }
                }
            },
            computed: {},
            watch: {
                /*searchList: function (newValue, oldValue) {
                    console.log(oldValue);
                    console.log(newValue);
                }*/
            },
            created: function () {
                /*this.view = "tableBoard";*/
                // DOM이 마운팅 되기 전이기 때문에 $el은 사용할 수 없습니다.
            },
            mounted: function () {
                // $el 을 사용할 수 있습니다.
                // 모든 화면이 렌더링된 후 호출됩니다.
                this.getBookListByAsyncAwait();
            }
        })
    </script>
</div>
</html>