<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:v-on="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/default">
<div layout:fragment="content">
    <div id="app">
        <div class="titleBox">
            도서신청폼
        </div>
        <div class="formBox">
            <form v-on:submit.prevent="submitForm" method="post">
                <table class="formTable">
                    <tr>
                        <td class="tdTitle"><label for="deptName">신청 부서</label></td>
                        <td><input type="text" id="deptName" v-model="deptName" required>
                            <input id="hiddenErum" type="hidden" th:value="${erum}"></td>
                    </tr>
                    <tr>
                        <td class="tdTitle" nowrap><label for="registerNm">신청자 이름</label></td>
                        <td><input type="text" id="registerNm" v-model="registerNm" required>
                            <input id="hiddenDeptname" type="hidden" th:value="${deptname}"></td>
                    </tr>
                    <tr>
                        <td class="tdTitle"><label for="title"><span class="redText">*</span>도서 이름</label></td>
                        <td><input type="text" id="title" v-model="title" required></td>
                    </tr>
                    <tr>
                        <td class="tdTitle"><label for="publisher"><span class="redText">*</span>출판사</label></td>
                        <td><input type="text" id="publisher" :value="publisher" @input="bindKor"
                                   required pattern="^[ㄱ-ㅎ|ㅏ-ㅣ|가-힣|a-z]+$" title="한글만 입력 가능합니다."></td>
                    </tr>
                    <tr>
                        <td class="tdTitle"><label for="bookPrice"><span class="redText">*</span>도서 금액</label></td>
                        <td><input type="text" id="bookPrice" :value="bookPrice" @input="bindNum1"
                                   required pattern="^[0-9]+$" title="숫자만 입력 가능합니다."></td>
                    </tr>
                    <tr>
                        <td class="tdTitle"><label for="count"><span class="redText">*</span>신청 권수</label></td>
                        <td><input type="texta" id="count" :value="count" @input="bindNum2"
                                   required pattern="^[0-9]+$" title="숫자만 입력 가능합니다."></td>
                    </tr>
                    <tr>
                        <td class="tdTitle">합계</td>
                        <td id="totalCount">{{ sum | money }}<strong> 원</strong></td>
                    </tr>
                    <tr>
                        <td class="tdTitle"><label for="regRsn">신청 사유</label></td>
                        <td><textarea id="regRsn" v-model="regRsn" cols="" rows="4"></textarea></td>
                    </tr>
                </table>
                <div class="btnBox">
                    <input class="formBtn" type="button" value="뒤로가기" v-on:click="back"/>
                    <input class="formBtn" type="submit" value="도서신청"/>
                </div>
            </form>
        </div>
    </div>


    <script>

        let app = new Vue({
            el: '#app',
            data: function () {
                return {
                    bookNo: '',
                    deptName: '',
                    registerNm: '',
                    title: '',
                    publisher: '',
                    bookPrice: 0,
                    count: 1,
                    regRsn: '',
                    isBook: 'N',
                    totalCount: 0,
                    errors: [],
                }
            },
            methods: {
                getBookListByAsyncAwait: async function () {
                    const response = await axios.get('/rest/book/findOne');
                    const bookNoArray = response.data.bookList[0].bookNo.split('-');
                    let bookNoText = bookNoArray[0];
                    let bookNoNum = bookNoArray[1];
                    bookNoNum++
                    bookNoNum = ('00' + bookNoNum).slice(-3);
                    this.bookNo = bookNoText + '-' + bookNoNum;
                },
                autoAdd: function () {
                    const hErum = document.getElementById("hiddenErum").value;
                    const hDeptname = document.getElementById("hiddenDeptname").value;
                    this.registerNm = hErum;
                    this.deptName = hDeptname;
                },
                submitForm: function () {
                    if (this.bookPrice < 0 || this.bookPrice > 100000) {
                        alert("100,000원 이하로 작성해주세요.")
                    } else {
                        const result = confirm(this.title + " 책을 신청하시겠습니까?");
                        if (result) {
                            const url = "/rest/book/save";
                            const data = {
                                /*bookNo: this.bookNo,*/
                                deptName: this.deptName,
                                registerNm: this.registerNm,
                                title: this.title,
                                publisher: this.publisher,
                                bookPrice: this.bookPrice,
                                count: this.count,
                                regRsn: this.regRsn,
                                isBook: this.isBook
                            }
                            axios.post(url, data)
                                .then(function (response) {
                                    console.log(response);
                                    alert('도서 신청이 완료되었습니다.');
                                    location.href = "/";
                                })
                                .catch(function (error) {
                                    console.log(error);
                                })
                        } else {
                            alert('신청이 취소되었습니다.')
                        }
                    }
                },
                back: function () {
                    location.href = "/";
                },
                bindNum1(e) {
                    this.bookPrice = e.target.value;
                },
                bindNum2(e) {
                    this.count = e.target.value;
                },
                bindKor(e) {
                    this.publisher = e.target.value;
                }
            },
            computed: {
                sum: function () {
                    return this.bookPrice * this.count;
                }
            },
            filters: {
                money: function (value) {
                    return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                }
            },
            watch: {
                /*bookPrice(val) {
                    const reg = /[ㄱ-ㅎ|ㅏ-ㅣ|가-힣|a-z]/;
                    if (reg.exec(val) !== null) {
                        this.number = val.replace(/[^0-9]/g, '');
                    }
                },
                publisher(val) {
                    const reg = /[ㄱ-ㅎ|ㅏ-ㅣ|가-힣|a-z]/;
                    if (reg.exec(val) !== null) {
                        this.number = val.replace(/[^0-9]/g, '');
                    }
                }*/
            },
            created: function () {
            },
            mounted: function () {
                // $el 을 사용할 수 있습니다.
                // 모든 화면이 렌더링된 후 호출됩니다.
                this.getBookListByAsyncAwait();
                this.autoAdd();
            }
        })
    </script>
</div>
</html>
<style>
    body {
        width: 100%;
        height: 100%;
        background-color: #f5f1e5;
    }
</style>