* {
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    padding: 15px 15px;
    color: white;
}

.container {
    padding: 15px;
}

ul {
    list-style: none;
}

input
,textarea
,select{
    outline: none;
}

.search
,[name=regForm] p
{
    margin: 10px 0;
    border-bottom: 1px solid black;
}

.search input
,[name=regForm] input
,[name=regForm] textarea
{
    background-color: white;
    border: none;
    width: 88%;
    display: inline-block;
    padding: 8px;
    font-size: 16px;
}

.search button
,.paging button {
    background: white;
    border: none;
    padding: 0 0 0 0;
}

.sub {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 30px 0 10px 0;
    font-size: 14px;
}

.sort {
    border: none;
    background: white;
    font-size: 14px;
}

.book {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #8c959f;
    padding: 10px 5px;
}

.book:first-child {
    border-top: 1px solid #8c959f;
}

.book .no {
    margin: 0 10px 0 0;
}

.book .subInfo {
    padding: 7px 0 0 0;
    font-size: 14px;
}

.book .subInfo span {
    padding: 0 5px 0 0;
}

.paging {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.paging .pageNo {
    display: flex;
    justify-content: space-between;
}

.paging .pageNo span {
    padding: 0 20px;
}

.paging .active {
    font-weight: bold;
    color: #42b983;
}

#regFlag {
    font-size: 13px;
    color: white;
    background-color: #42b983;
    border-radius: 30px;
    padding: 2px 10px;
}



/* 스타일 */
/*p { position:relative; } !* 기본세팅 *!
p input { box-sizing:border-box; padding:20px 0 0; width:100%; height:100%; border:0 none; color:#595f63; outline:none; }
p label { position:absolute; left:0%; bottom:0; width:100%; height:100%; border-bottom:1px solid #000; text-align:left; pointer-events:none; }
p label:after { content:""; position:absolute; left:0; bottom:-1px; width:0; height:100%; border-bottom:3px solid #5fa8d3; transition:all .3s ease; } !* 파란색 가로줄 *!
p label span { position:absolute; left:0; bottom:5px; transition:all .3s ease; }
p input:focus + label span,
p input:valid + label span { transform:translateY(-150%); font-size:14px; color:#5fa8d3; }  !* input에 글을 입력하고 포커스가 지나간 상태에서 제어하려면 valid 선택자를 써야한다. *!
!* 포커스 될 때 label span(name)이 위로 올라감 *!
p input:focus + label::after,
p input:valid + label::after { width:100%; transform:translateX(0); }*/


[name=regForm] p label {
    font-size: 12px;
    color: gray;
    padding-bottom : 5px;
}

[name=regForm] p {
    margin: 0 0 20px 0;
}

[name=regForm] input
,[name=regForm] textarea
,[name=regForm] textarea::placeholder{
    font-size: 14px;
}

#btnArea {
    display: flex;
}

#btnArea a {
    flex-grow: 1;
}

#btnArea input {
    flex-grow: 1;
}

#btnArea a
,#btnArea input[type=submit]
,.goFormBtn {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

#btnArea a {
    background-color: gray;
    margin-right: 10px;
    line-height: 40px;
    width: 100px;
}

#btnArea input[type=submit]
,.goFormBtn {
    background-color: #42b983;
}

.goFormBtn {
    width: 100%;
    display: inline-block;
    padding: 8px 0;
    margin: 10px 0;
}

#deleteBtn {
    display: block;
}

textarea {
    overflow: hidden;
    overflow-wrap: break-word;
    height: 19px;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}