* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 10px;
}

ul {
    list-style: none;
}

.book {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #8c959f;
    padding: 10px 5px;
}
.book:first-child {
    border-top: 1px solid #8c959f;
}