<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <title>레몬헬스케어 도서현황</title>

    <!-- config fragment 사용 -->
    <th:block th:replace="~{fragments/config :: configFragment}"></th:block>
</head>

<body>
    <header th:replace="fragments/header :: typeHeaderFrag"></header>
    <th:block layout:fragment="content"></th:block>
    <footer th:replace="fragments/footer :: footerFrag"></footer>
</body>