td, th {
    padding: 10px;
    border: 1px solid #ccc;
}
#leftImage, #rightInput {
    display: inline-block;
}
table {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
}
body {
    color: #333;
    margin: 0px;
    background-color: #fcfcfc;
}
#lemonLogo {
    vertical-align: bottom;
}
#app {
    width: 100%;
    margin: auto;
}
#noSearch {
    text-align: center;
    font-weight: bold;
}
#leftText {
    float: left;
    padding: 5px;
    margin-left: 10px;
}
#changeTableImage {
    float: right;
    margin-right: 10px;
    cursor: pointer;
}
#rightText {
    float: right;
    display: inline-block;
    padding: 5px;
    margin-right: 10px;
}
#topBox {
    text-align: center;
    padding-top: 5px;
    margin-bottom: 15px;
}
#searchBookInput {
    font-size: 1.05em;
}
#searchButton {
    border: 1px solid #49c6f6;
    background-color: #fdfdfd;
    color: #49c6f6;
    padding: 4px 15px 4px 15px;
    border-radius: 5px;
    cursor: pointer;
}
#searchButton:hover {
    color: #fdfdfd;
    background-color: #49c6f6;
}
#middleBox {
    height: 40px;
}
.orderMenu {
    cursor: pointer;
}
#pageButton {
    cursor: pointer;
    text-align: center;
}
#pageButton:hover {
    background-color: #ffca08;
}
#noPageButton {
    text-align: center;
}
#tableTitle {
    background-color: #ffca08;
}
#bookTotal {
    color: #a5cb4e;
    font-weight: bold;
}
.bookImage {
    border: 1px solid #aaa;
    width: 70%;
}
#cBoard {
    width: 100%;
    margin: auto;
}
#checkerboard{
    float: left;
    text-align: center;
    min-width: 25%;
    max-width: 25%;
}
#innerCheckerboard {
    padding: 30px;
    border: 1px solid #ccc;
    border-collapse: collapse;
}
#cBoardBookTitle {
    height: 50px
}
#cBoardDeptName {

}
.clearBox {
    clear: both;
}

.redText {
    color: red;
}
.clickBookDetail {
    cursor: pointer;
}
.clickBookDetail:hover {
    font-weight: bold;
}
#applyingImage {
    vertical-align: bottom;
}

