<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" class="container">
    <h1 th:text="${pageName}">pageName</h1>
    <hr>
    <h1 th:text="${message}">Admin</h1>
    <a th:href="@{/book/list}">리스트</a>
</div>
</html>