<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <div layout:fragment="content" class="container">

        <h2>도서현황</h2>

        <div id="app">
            <!--search-->
            <div>
                <input v-model="searchText" ref="search" placeholder="검색어를 입력하세요"
                    v-on:keyup.enter="onClickSearchBtn">
                <button v-on:click="onClickSearchBtn">검색</button>
            </div>

            <!--sort-->
            <select v-model="selected" v-on:change="onChangeSort($event)">
                <option value="">기본순</option>
                <option value="deptAsc">부서 (오름차순)</option>
                <option value="deptDesc">부서 (내림차순)</option>
                <option value="titleAsc">제목 (오름차순)</option>
                <option value="titleDesc">제목 (내림차순)</option>
            </select>

            <div>총 : {{ items.length }}</div>

            <!--list-->
            <ul>
                <li v-for="(book, index) in paginatedData" class="book" v-bind:id="book.id">
                    <span class="no">{{ pageNum*pageSize+index+1 }}</span>
                    <div>
                        <strong>{{ book.title }}</strong>
                        <div class="subInfo">
                            <span>도서번호: {{ book.bookNo }}</span>
                            <span>부서명: {{ book.deptName }}</span>
                            <span>권수: {{ book.count }}</span>
                        </div>
                    </div>
                </li>
            </ul>
            <div v-if="items.length === 0">검색 결과가 없습니다.</div>

            <!--paging-->
            <div v-if="items.length !== 0">
                <button v-bind:disabled="pageNum === 0" v-on:click="prevPage">
                    이전
                </button>
                <span>{{ pageNum + 1 }} / {{ pageCount }} 페이지</span>
                <button v-bind:disabled="pageNum >= pageCount - 1" v-on:click="nextPage">
                    다음
                </button>
            </div>

        </div>


        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    searchText: '',
                    bookList : [],
                    items: [],
                    selected: "",
                    pageNum: 0,
                    pageSize: 10
                },
                computed: {
                    pageCount () {
                        let listLeng = this.items.length;
                        let listSize = this.pageSize;
                        let page = Math.floor(listLeng / listSize);

                        if (listLeng % listSize > 0) {
                            page += 1;
                        }

                        return page;
                    },
                    paginatedData () {
                        const start = this.pageNum * this.pageSize;
                        const end = start + this.pageSize;
                        return this.items.slice(start, end);
                    }
                },
                watch: {

                },
                beforeCreate: function () {
                    // data와 이벤트($on, $once, $off, $emit), 감시자($watch)등이 설정 되기 전에 호출되는 라이프 사이클 훅입니다.
                },
                created: function () {
                    // DOM이 마운팅 되기 전이기 때문에 $el은 사용할 수 없습니다.
                },
                beforeMount: function() {
                    // $el은 아직 사용할 수 없습니다. 거의 사용되지않는 라이프사이클
                },
                mounted: function () {
                    // $el 을 사용할 수 있습니다.
                    // 모든 화면이 렌더링된 후 호출됩니다.

                    // axios bookList 가져오기
                    this.getBookListByAsyncAwait();
                    //this.getBookListByPromise();
                    //this.getBookListByCallBack();
                },
                methods: {
                    getBookListByAsyncAwait : async function () {
                        const response = await axios.get('http://localhost:8080/data/json_sample_bookList.json');
                        console.log(response.data);
                        this.bookList = response.data;
                        this.items = this.bookList;
                    },
                    getBookListByPromise : function () {
                        axios.get('http://localhost:8080/data/json_sample_bookList.json').then(response => {
                            console.log(response.data);
                        }).catch(error => {
                            console.log(error);
                        })
                    },
                    getBookListByCallBack : function () {
                        axios.get('http://localhost:8080/data/json_sample_bookList.json').then(response => {
                            app.callBackGetBookList(response.data);
                        }).catch(error => {
                            console.log(error);
                        })
                    },
                    callBackGetBookList : function (response) {
                        console.log(response);
                    },
                    onClickSearchBtn: function() {
                        let searchText = this.searchText;
                            searchText = searchText.replace(/^\s+|\s+$/gm,'');
                        let bookList = this.bookList;
                        let result = [];
                        let regExp = new RegExp(searchText, "i");

                        console.log("검색값 : " + searchText);
                        this.searchText = searchText;
                        this.selected = "";

                        if(searchText == "") {
                            this.$refs.search.focus();
                        }

                        result = bookList.filter(book => regExp.test(book.deptName) || regExp.test(book.title));
                        console.log(result);
                        this.items = result;
                    },
                    onChangeSort(event) {
                        let value = event.target.value;
                        console.log(value);

                        if(value == "deptAsc") {
                            this.items.sort(function(a, b) {
                                return a.deptName.localeCompare(b.deptName);
                            });
                        } else if(value == "deptDesc") {
                            this.items.sort(function(a, b) {
                                return b.deptName.localeCompare(a.deptName);
                            });
                        } else if(value == "titleAsc") {
                            this.items.sort(function(a, b) {
                                return a.title.localeCompare(b.title);
                            });
                        } else if(value == "titleDesc") {
                            this.items.sort(function(a, b) {
                                return b.title.localeCompare(a.title);
                            });
                        } else {
                            this.items.sort(function(a, b) {
                                return a.id - b.id;
                            });
                        }
                    },
                    nextPage() {
                        this.pageNum += 1;
                    },
                    prevPage() {
                        this.pageNum -= 1;
                    }
                }
            });
        </script>
    </div>
</html>