<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <div layout:fragment="content" class="container">
        <h2 class="pageTitle">회원가입</h2>

        <form action="/signup" th:action="@{/signup}" th:object="${account}" method="post" class="signup" autocomplete="off">
            <p>
                <label>아이디</label>
                <input type="text" th:field="*{username}" placeholder="아이디 입력" />
            </p>
            <p>
                <label>비밀번호</label>
                <input type="password" th:field="*{password}" placeholder="비밀번호 입력"/>
            </p>
            <p>
                <label>이름</label>
                <input type="text" th:field="*{registerNm}" placeholder="이름 입력"/>
            </p>
            <p>
                <label>부서명</label>
                <!--<input type="text" th:field="*{deptName}" placeholder="부서명 입력"/>-->
                <select th:field="*{deptName}">
                    <option value="">부서 선택</option>
                    <option value="공통개발그룹">공통개발그룹</option>
                    <option value="MCare코어팀">MCare코어팀</option>
                    <option value="개발1팀">개발1팀</option>
                    <option value="개발2팀">개발2팀</option>
                </select>
            </p>
            <p>
                <label>권한</label>
                <!--<input type="text" th:field="*{role}" placeholder="권한 입력"/>-->
                <select th:field="*{role}">
                    <option value="">권한 선택</option>
                    <option value="USER">유저</option>
                    <option value="ADMIN">관리자</option>
                </select>
            </p>

            <input type="submit" value="회원가입" />
        </form>

    </div>
</html>