<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <div layout:fragment="content" class="container">
        <form action="/signup" th:action="@{/signup}" th:object="${account}" method="post">
            <p>Username: <input type="text" th:field="*{username}" /></p>
            <p>Password: <input type="password" th:field="*{password}" /></p>
            <p>Role: <input type="text" th:field="*{role}" /></p>
            <p>부서명: <input type="text" th:field="*{deptName}" /></p>
            <p><input type="submit" value="회원가입" /></p>
        </form>
    </div>
</html>